* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #002e34;
}

.header h1 {
    font-size: 3rem;
}

.header li a {
    color: aliceblue;
    text-decoration: none;

}

.header {
    color: aliceblue;
    background-color: rgb(50, 58, 58);

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
    padding: 1rem 5rem;


}

.header li {

    transition: .4s all;
    /* text-shadow: 0px 0px 00px rgb(255, 255, 255);
    scale: 1.1; */
}

.header li:hover {

    text-shadow: 0px 0px 50px rgb(255, 255, 255);
    scale: 1.1;

    cursor: pointer;

}

.options-nav {

    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 1rem;

}


table {
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #000;
    background-color: #bde3ff;
    /* Bordas pretas */
}

/* Estilo para as células do cabeçalho */
th {
    background-color: #f2f2f2;
    background-color: #333;
    /* Cinza pastel */
    color: #333;
    color: #dcdcdc;
    /* Preto pastel */
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #000;
    /* Linha mais escura */
    border-right: 1px solid #000;
    /* Borda direita preta */
}

/* Estilo para as células do corpo */

td {
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
    /* Cinza claro */
    color: #555;
    /* Preto mais escuro */
    border-right: 1px solid #000;
    /* Borda direita preta */
    transition: all .1s;

    background-color: #55555500;

    height: 2rem;
}

td:hover {
    background-color: #ffffff;
    scale: .95;
    border-radius: .5rem;

    cursor: pointer;
}

/* Estilo para as linhas ímpares */
tr:nth-child(odd) {
    background-color: #f9f9f988;
    /* Cinza mais claro */
}

/* Estilo para as linhas ao passar o mouse */
tr:hover {
    /* background-color: #f0f0f0; */

    /* Cinza ainda mais claro */
}



/* class do componente adicionar */
#add-lisc h1 {
    margin: 2rem;
    color: aliceblue;
    text-align: center;
}

.form-add {
    margin: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;


    width: 30%;
    padding: 5rem;
    border-radius: 4rem;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.31);
}

.form-group {
    font-size: 1.5rem;
    color: aliceblue;
    text-align: center;
    width: 30rem;

    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

.form-group input,
.form-group select {
    color: rgb(183, 205, 210);
    font-size: 1.5rem;
    width: 50%;

    background-color: none;
    border: none;
    border-bottom: 1px solid black;
    /* ou a cor desejada */
    outline: none;
    /* remove a borda ao focar */
    background-color: transparent;
    /* torna o fundo transparente */

    font-weight: 800
}

.form-group select option {
    color: black;
    font-weight: 800
}

.form-group label {
    width: 70%;
    text-align: end;

    font-weight: 900
}

.form-add button {


    font-size: 1.5rem;
    font-weight: 800;
    width: 50%;
    height: 3rem;
    border-radius: .5rem;

    border: none;
    background-color: transparent;

    transition: all .4s;
    background-color: #005863;
    color: aliceblue;
}

.form-add button:hover {
    scale: 1.2;
}

.form-add button:active {
    scale: .9;
}