* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #ffffff;
}

.root {
    height: 100vh;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    gap: 3rem;
}

/* estilo side-bar */
.nav-sidebar {
    background-color: #0165a9;

    /* width: 10rem; */
    height: 60%;
    border-radius: 0px 60px 60px 0px;

    left: 0px;

    position: absolute;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: 2rem;

    padding: 1rem 1rem;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.171);
}

.nav-sidebar svg {
    height: 3.5rem;

    /* fill: #ffffff; */

    fill: aliceblue;

    filter: drop-shadow(-10px 0px 10px rgba(0, 0, 0, 0.308));

    transition: .4s all;

    cursor: pointer;

    overflow: hidden;

    position: relative;
}


/* 
SVG {
    fill: linear-gradient(90deg, rgb(114, 23, 105) 0%, rgb(234, 28, 70) 99.88%);

} */

.nav-sidebar svg:hover {

    scale: 110%;

}

.side-bar {
    height: 80vh;
    display: flex;
    flex-direction: column;

    flex-wrap: nowrap;

    justify-content: center;
    align-items: start;


    background-color: #f2f2f2;
    padding: 1rem 1rem 1rem 8rem;

    border-radius: 0rem 60px 60px 0rem;

    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.171);

}

.configurate-sidebar h3 {
    font-size: 1.5rem;
    font-weight: 900;
}

.configurate-sidebar {
    display: flex;

    flex-direction: column;
    gap: 1.1rem;

    width: 15rem;

}

.modalidade-group {
    display: flex;
    align-items: center;
    justify-content: start;

}

.modalidade-group label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 2rem;
    margin-right: 15px;
    font-size: 1.4rem;



    align-items: center;
}

.modalidade-group label:before {
    content: " ";
    display: inline-block;

    width: 1.4rem;
    height: 1.4rem;
    border-radius: 2rem;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: rgb(229, 241, 247);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.404), 0px 1px 0px 0px rgba(255, 255, 255, .8);


    transition: .4s all;
    color: #ffffff;
}

.modalidade-group input:checked+label:before {

    content: " ";
    line-height: 1.4rem;

    font-weight: 900;
    text-align: center;

    background-color: #0165a9;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 12px;
    color: #ffffff;

    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.404), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

input[type=checkbox] {
    display: none;
}

/* .modalidade-group input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    border: 0.25rem solid green;
    border-radius: 0.5rem;


}

.modalidade-group input[type="checkbox"]::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    transform: scale(0);
    background-color: rgb(128, 0, 0);
    border: 0.25rem solid rgb(0, 13, 128);
}

input[type="checkbox"]:checked::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    transform: scale(0);
    background-color: rgba(198, 235, 198, 0.568);


} */




/* estilo dos containers */
.Container {
    width: 85vw;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
    flex-wrap: wrap;

    padding-bottom: 10rem;
}



/* estilo dos botoes */
.btn {
    cursor: pointer;
    font-weight: 550;
    color: #fcfeff;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    display: inline-block;

    transition: all .1s cubic-bezier(.8, 1.01, .57, .59);

}

.adicionar {
    background-color: #0f96e1;
}

.apagar,
.editar {
    zoom: 120%;
    text-transform: uppercase;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.apagar {
    background-color: #9e1616;
    border: solid 3px #e4fd0000;
    margin-left: 2rem;

}

.apagar:hover {
    border: solid 3px #520606;
}

.editar {
    background-color: #178b00;
    border: solid 3px #0b440000;
    zoom: 120%;

}

.editar:hover {
    border: solid 3px #0b4400;
}

.btn:hover {
    scale: 105%;
}


/* estilo do header */
.header h1 {
    font-size: 3rem;
}

.header li a {
    color: aliceblue;
    text-decoration: none;

}

.header {
    color: aliceblue;
    background-color: #808080;

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
    padding: 1rem 5rem;


}

.header li {

    transition: .4s all;
    /* text-shadow: 0px 0px 00px rgb(255, 255, 255);
    scale: 1.1; */
}

.header li:hover {

    text-shadow: 0px 0px 50px rgb(255, 255, 255);
    scale: 1.1;

    cursor: pointer;

}

.options-nav {

    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 1rem;

}

/* estilo da tabela */
:root {
    --color-border: 3px solid #e4e4e4;
}

table {
    /* margin: auto; */
    overflow: hidden;

    /* width: 100%; */

    border-radius: .3rem;

    border-left: var(--color-border);
    border-top: var(--color-border);
}

.olho-icone {}

.olho-icone svg {
    width: 1.3rem;

}

.olho-icone:hover {
    scale: 1.2;
}


/* Estilo para as células do cabeçalho  da TABELA*/
th {
    font-weight: 670;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    color: #333;

    padding: 10px;

    border-bottom: var(--color-border);
    border-right: var(--color-border);
}

td {
    border-bottom: var(--color-border);
    border-right: var(--color-border);
    padding: 8px 10px;
    transition: all .1s;
    margin: 0px;

    color: #555;
    text-align: center;
    font-weight: 640;
    font-size: 1.05rem;
}

.prioridade p,
.fase p {
    text-align: center;
    font-weight: 740;
    font-size: 1.05rem;

    margin: auto;
    padding: 10px;
    border-radius: .5rem;
}

.pri-baixa p {
    color: #229465;
    background-color: #2294641f;
}

.pri-media p {
    color: #0057c9;
    background-color: #2500e01f;
}

.pri-alta p {
    color: #ee6969;
    background-color: #ee69691f;
}

.pri-edicao p {
    color: #b39500;
    background-color: #f7d00f1f;
}

.pri-descartado p {
    color: #797979;
    background-color: #7979791f;
}

.pri-processada p {
    color: #744c3a;
    background-color: #744c3a1f;
}


tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr {
    background-color: #ffffff;

}










/* class do form adicionar */

:root {

    --color-add {
        color: #616161;
    }

}

#add-lisc {
    zoom: 200%;

    width: 80%;

    margin: auto;

    display: flex;
    flex-direction: column;

    margin-top: 3rem;
    gap: 3rem;

    align-items: center;
}


.form-add {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    margin: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: .1rem;
    /* background-color: #0057c9; */
    height: 3rem;

    /* align-items: center; */
    justify-content: center;
    width: 10rem;
}

.custom-select,
.form-group input {

    border-radius: .4rem;
    padding: .3rem;
    border: black solid 1px;

    transition: border .1s;
}

.custom-select:hover {
    cursor: pointer;
}

.custom-select:focus,
.form-group input:focus {

    border-radius: .4rem;
    padding: .3rem;
    border: black solid 3px;
}

.form-add-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.form-group-button {
    height: 2rem;
    border-radius: .4rem;
    background-color: #0f96e1;
    border: solid #087fbe 3px;

    align-items: center;

    color: aliceblue;
    text-transform: uppercase;
    font-weight: 700;

    transition: all .4s;

}

.form-group-button:hover {

    cursor: pointer;
    scale: 1.03;
}


.desc-item-p {
    display: inline-block;
}


/* DESCRICAO INDIVIDUAL */

.titulo-info-individual {

    display: inline-block;
    border: solid rgba(0, 0, 0, 0.137) 1px;
    padding: 7px 20px;
    border-radius: 7px;
    border-bottom: solid 2px #087fbe;

    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.329);
    zoom: 150%;

    width: 60%;

}

.licitacao-individual {
    flex-wrap: wrap;
    align-items: center;
}

.titulo-info-individual span {

    color: #087fbe;
    font-weight: 600;

}

.form-delete {
    display: inline-block;
}